{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>APP CRUD</title>
</head>
<body>

    <h1>Crear Tarea</h1>

    <form action="{% url 'crear_listar_tarea' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Guardar</button>
    </form>

    {% for task in tasks %}
    <div>
        <h4>{{task.title}}</h4>
        <p>{{task.description}}</p>
        <h6>Creado: {{task.created}}</h6>
        <h6>Importante: {{task.important}}</h6>
        <form action="{% url 'eliminar_tarea' task.id %}" method="post">
            {% csrf_token %}
            <button>Eliminar</button>
        </form>
        <form action="{% url 'editar_tarea' task.id %}" method="get">
            {% csrf_token %}
            <button>Editar</button>
        </form>
    
        
    </div>

    {% empty %}

    <h3>No hay tareas </h3>

    {% endfor %}

</body>
</html>